{% extends 'base.html.twig' %}

{% block title %}アイデア投稿{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-sm-12">
                <h1>アイデア投稿</h1>
                <p class="description-area">アイデアを投稿します。必要事項を埋めてください。</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-sm-8">
                {% include 'parts/message.twig' %}
                <div class="form-group">
                    <label class="control-label">募集タイトル</label>
                    <p class="form-control-static input-lg">{{ ideaAsk.title }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">募集内容詳細</label>
                    <h5><strong>{{ ideaAsk.description }}</strong></h5>
                </div><hr>
                {{ form_start(formIdeaAnswer) }}
                <div class="form-group">
                    {{ form_label(formIdeaAnswer.title) }}
                    {{ form_widget(formIdeaAnswer.title) }}
                </div>
                <div class="form-group">
                    {{ form_label(formIdeaAnswer.description) }}
                    {{ form_widget(formIdeaAnswer.description) }}
                </div>
                <button type="submit" class="btn btn-success">投稿</button>
                {{ form_end(formIdeaAnswer) }}
            </div>
            <div class="goto-back text-right"><a href="{{ path('idea_home') }}"><i class="fas fa-undo"></i> HOMEへ戻る</a></div>
        </div>
    </div>
{% endblock %}