{% extends 'base.html.twig' %}

{% block title %}アイデアROOM{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-sm-12">
                <h1>アイデアROOM</h1>
                <p class="description-area">投稿されたアイデア達です。是非あなたも投稿してください。</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-sm-8">
                {% include 'parts/message.twig' %}
                <div class="form-group">
                    <div class="text-right">{{ ideaAsk.createdAt|date('Y-m-d H:i:s') }}</div>
                    <label class="control-label"><i class="fas fa-user"></i>募集者</label>
                    <h4>
                        <strong>
                            <a href="{{ path('user_index', { 'id': ideaAsk.user.id }) }}">{{ ideaAsk.user.username }}</a>
                        </strong>
                    </h4>
                </div>
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-tag"></i>募集タイトル</label>
                    <p class="form-control-static input-lg">{{ ideaAsk.title }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-list-ul"></i>カテゴリ</label>
                    <h4><strong>{{ ideaAsk.ideaCategory.name }}</strong></h4>
                </div>
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-file-signature"></i>募集内容詳細</label>
                    <h5><strong>{{ ideaAsk.description }}</strong></h5>
                </div><hr>
                {% for ideaAnswer in ideaAnswers %}
                    <div class="alert alert-warning" role="alert">
                        <div class="form-group">
                            <div class="text-right">{{ ideaAnswer.createdAt|date('Y-m-d H:i:s') }}</div>
                            <label class="control-label">作成者</label>
                            <h4>
                                <strong>
                                    <a href="{{ path('user_index', { 'id': ideaAnswer.user.id }) }}">{{ ideaAnswer.user.username }}</a>
                                </strong>
                            </h4>
                        </div>
                        <div class="form-group">
                            <label class="control-label">一言アイデア</label>
                            <p class="form-control-static input-lg">{{ ideaAnswer.title }}</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">内容詳細</label>
                            <h5><strong>{{ ideaAnswer.description }}</strong></h5>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center"><a class="btn btn-success" href="{{ path('idea_answer', { 'id': ideaAsk.id }) }}">回答する</a></div>
            </div>
            <div class="goto-back text-right"><a href="{{ path('idea_home') }}"><i class="fas fa-undo"></i> HOMEへ戻る</a></div>
        </div>
    </div>
{% endblock %}