{% extends 'base.html.twig' %}

{% block title %}ユーザー編集{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-sm-12">
                <h1>ユーザー編集</h1>
                <p class="description-area">ユーザー情報を編集します。必要事項を埋めてください。</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-sm-8">
                {% include 'parts/message.twig' %}
                {{ form_start(formUserEdit) }}
                <div class="form-group">
                    {{ form_label(formUserEdit.username) }}
                    {{ form_widget(formUserEdit.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(formUserEdit.profile) }}
                    {{ form_widget(formUserEdit.profile) }}
                </div>
                <div class="form-group form-inline">
                    <label>
                        {{ form_widget(formUserEdit.isPermitEmail) }} Emailの公開を許可する
                    </label>
                </div>
                <button type="submit" class="btn btn-success">登録</button>
                {{ form_end(formUserEdit) }}
            </div>
            <div class="goto-back text-right"><a href="{{ path('user_index', { 'id': app.user.id }) }}"><i class="fas fa-undo"></i> プロフィール画面へ戻る</a></div>
        </div>
    </div>
{% endblock %}